OPENROUTER_API_KEY=here the key from openrouter
DATABASE_URL=url of the postgres database (something like this postgresql+asyncpg://devuser:devpassword@localhost:5432/devdb)
CERK_PUBLIC_KEY=from clerk console
CLERK_SECRET_KEY=from clerk console