OPENROUTER_API_KEY=here the key from openrouter
DATABASE_URL=url of the postgres database (something like this postgresql+asyncpg://devuser:devpassword@localhost:5432/devdb)
CERK_PUBLIC_KEY=pretty sure its not needed from clerk console
CLERK_SECRET_KEY=from clerk console
AUTHORIZED_PARTIES=from what sites backend accepts the jwt ["http://localhost:3000","https://your-app.com","https://vital-primate-7155.accounts.dev"]
LLM_URL=and endpoint for llm requests like for example https://openrouter.ai/api/v1
